# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
build/
lib/
*.exe
*.out
*.app
C6H7N-aniline/FSSH/v0/
C6H7N-aniline/FSSH/v1/
C6H7N-aniline/MD/v0/
C6H7N-aniline/MD/v1/

# Back up
BAK/
